<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chat.Data.ConnectionString" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chat.Data.ConnectionString>
            <setting name="MongoDbCloudServer" serializeAs="String">
                <value>mongodb://malumen:ludak@ds035250.mongolab.com:35250/chat</value>
            </setting>
            <setting name="MongoDbDefaultDatabase" serializeAs="String">
                <value>chat</value>
            </setting>
            <setting name="MongoDbLocalServer" serializeAs="String">
                <value>mongodb://localhost</value>
            </setting>
        </Chat.Data.ConnectionString>
    </userSettings>
</configuration>